<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hiulatam.hiu.hiu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        tools:replace="android:icon"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Walkthrough"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".InstagramActivity"
            android:label="@string/title_activity_insta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TwitterActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DetailActivity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".CharityActivity"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity"/>
        </activity>
        <activity android:name=".PaymentDetailActivity"
            android:parentActivityName=".CharityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharityActivity"/>
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>